<div id="header_taller">
	   <a class="logo" href="/"></a>
       <div id="menu">
                <div class="oe_wrapper">
                    <ul class="oe_menu" id="oe_menu">
                        <li class="menu_li">
                            <a class="link" href="/">饰品</a>
                        </li><!--menu_li--> 
                        <li class="menu_li">
                            <a class="link" href="/pibao/">皮包</a>
                        </li><!--menu_li--> 
                        <li class="menu_li">
                            <a class="link" href="/shenghuo/">生活</a>
                        </li><!--menu_li--> 
                        <li class="menu_li">
                            <a class="link" href="/yishu/">艺术</a>
                        </li><!--menu_li--> 
                	</ul><!--navi_menu_ul-->
        		</div><!--oe_wrapper-->
        </div><!--menu-->
		<div class="search_form">
			<div id="sidebarsearch">
			<div class="search_over">
				<span class="icon i_search confirm_search"></span>
				<input id="search_query" class="search" maxlength="512" placeholder="">    
			</div>
			</div><!--sidebarsearch-->
            </div>
</div>
