{% extends "base.html" %}
{% block content %}
<div id="main_below_s">
    <div id="main_left">
        <div class="cl">
            <span style="margin-bottom:10px;" class="creations_name morespace">
                贝壳，松果，碎片
            </span>    
            
        </div>

        <span class="browse_found_article_star_2 morespace">
            <span class="ratingstar_name">艺术评分：</span>
            <img class="ratingstar_main" alt="" src="http://sogoke-static.b0.upaiyun.com/static/v1/img/raty/0.png">
            <span class="ratingstar_result">0.0<span>分</span></span>
            
        </span>	
        <div class="frame" id="big_frame3">
            <ul class="list" id="big_list3">
                
                <li>
                
                <img src="{{ STATIC_URL }}cjX4y9NYhS9zg6Py7Rq94b!large.jpeg" class="big_list_show">
                                   
                </li>    
                
                <li>
                
                <img src="{{ STATIC_URL }}eaghWfbxeADFDKzXTKbnaM!large">
                                   
                </li>    
                
                <li>
                
                <img src="{{ STATIC_URL }}i48d3KEeK5mqgxVV4UTbk9!large">
                                   
                </li>    
                
                <li>
                
                <img src="{{ STATIC_URL }}oWBY3KxRfQtcqq6eGpzgzb!large">
                                   
                </li>    
                
            </ul>
        </div>				
        <div style="float:left; margin:0 0 0 8px; width: auto;height: auto;">
            <a href="#" class="slide_nav3" id="back3" target="_blank">a</a>
            <div class="l_frame2" id="small_frame3">
                <ul class="list" id="small_list3">
                    
                    <li class="cur">
                    
                    <img width="80" height="60" src="{{ STATIC_URL }}cjX4y9NYhS9zg6Py7Rq94b!small.jpeg">
                                 
                    </li>
                                  
                </ul>
            </div>
            <a href="#" class="slide_nav2" id="forward3" target="_blank">b</a>
        </div>						

        <ul id="required_mini_channel">
            <li>
                <div style="height:16px;color:black;" class="specification_mini">
                    创意故事:           
                </div>
                <div style="float:left;border-top:1px solid #e2e2e2;color:#666666;" class="specification_mini_div">
                    <p>大自然的馈赠，不可以挑剔和亏待。</p>
                </div>						
            </li>
        </ul>
        <ul id="sale_details">               
            <li style="margin-bottom:5px;" id="products_tags">
                <a class="products_tags_title">标签：</a>
                <div class="creations_tag">
                                  
                        <a class="" href="/tag/饰品/" target="_blank">饰品</a>
                                  
                        <a class="" href="/tag/吊坠/" target="_blank">吊坠</a>
                                  
                        <a class="" href="/tag/贝壳/" target="_blank">贝壳</a>
                    
                </div>  
            </li>
        </ul>
        <div id="PS_messager">
            
            <div id="PS_whom">我的评分:</div> 
            <div class="browse_found_article_star_give" id="raty-1" style="width: 100px; cursor: pointer;">
            <img class="raty-1" title="bad" alt="1" src="http://sogoke-static.b0.upaiyun.com/static/v1/img/raty/star-off.png" id="raty-1-1">&nbsp;<img class="raty-1" title="poor" alt="2" src="http://sogoke-static.b0.upaiyun.com/static/v1/img/raty/star-off.png" id="raty-1-2">&nbsp;<img class="raty-1" title="regular" alt="3" src="http://sogoke-static.b0.upaiyun.com/static/v1/img/raty/star-off.png" id="raty-1-3">&nbsp;<img class="raty-1" title="good" alt="4" src="http://sogoke-static.b0.upaiyun.com/static/v1/img/raty/star-off.png" id="raty-1-4">&nbsp;<img class="raty-1" title="gorgeous" alt="5" src="http://sogoke-static.b0.upaiyun.com/static/v1/img/raty/star-off.png" id="raty-1-5"><input type="hidden" id="raty-1-score" name="score"></div>
            

            <div class="whatimdoing">
                <a class="replyit">回应&nbsp;<span id="comments_number">1</span></a>

                
                    <a class="loveit" data-url="/actions/favour/creation/6032/-/creation/">喜欢&nbsp;<span>0</span></a>			 
                    							
                
                
            </div>
            <div class="list_display_navi_line_longer_more_PS">
                <!---->
            </div>
        </div>

        <!--message reply-->        

        
        
        




                

        

        <!--messager_below-->			   

    </div><!--mainbelowleft-->
    


    
    <!--sale_about-->
        </div>
{% endblock %}
