{% extends "base.html" %}

{% block content %}
<div id="main_below_s">
    <div id="main_left">
        <div class="cl">
            <span style="margin-bottom:10px;" class="creations_name morespace">
                陶瓷珠子纯手工编织手链
            </span>    
        </div>
        <span class="browse_found_article_star_2 morespace">
            <span class="ratingstar_name">艺术评分：</span>
            <img class="ratingstar_main" alt="" src="{{ STATIC_URL }}0.png">
            <span class="ratingstar_result">0.0<span>分</span></span>
        </span>	
        <div class="frame" id="big_frame3">
            <ul class="list" id="big_list3">
                <li>
                <img src="{{ STATIC_URL }}gnwE8jhgC2TyDzgwwJ3JfC!large.jpeg" class="big_list_show">
                </li>    
            </ul>
        </div>				
        <div style="float:left; margin:0 0 0 8px; width: auto;height: auto;">
            <a href="#" class="slide_nav3" id="back3" target="_blank">a</a>
            <div class="l_frame2" id="small_frame3">
                <ul class="list" id="small_list3">
                    <li class="cur">
                    <img width="80" height="60" src="{{ STATIC_URL }}gnwE8jhgC2TyDzgwwJ3JfC!small.jpeg">
                    </li>
                </ul>
            </div>
            <a href="#" class="slide_nav2" id="forward3" target="_blank">b</a>
        </div>						
        <ul id="required_mini_channel">
            <li>
                <div style="height:16px;color:black;" class="specification_mini">
                    创意故事:           
                </div>
                <div style="float:left;border-top:1px solid #e2e2e2;color:#666666;" class="specification_mini_div">
                    <p>同事新购置了一身麻布裙子，穿起来很好看，心想着若是配上一个简单的手链必是极好的，于是伴着西安长久不见的雨天，它就这样出生了，恰巧院子里的植物被雨水冲洗一新，伴着泥土的淡淡味道，唤你青碧可好呢，哈哈~</p>
                </div>						
            </li>
        </ul>
        <ul id="sale_details">               
            <li style="margin-bottom:5px;" id="products_tags">
                <a class="products_tags_title">标签：</a>
                <div class="creations_tag">
                        <a class="" href="/tag/饰品/" target="_blank">饰品</a>
                        <a class="" href="/tag/DIY/" target="_blank">DIY</a>
                        <a class="" href="/tag/手链/" target="_blank">手链</a>
                        <a class="" href="/tag/编织/" target="_blank">编织</a>
                        <a class="" href="/tag/纯手工/" target="_blank">纯手工</a>
                </div>  
            </li>
        </ul>
        <div id="PS_messager">
            <div id="PS_whom">我的评分:</div> 
            <div class="browse_found_article_star_give" id="raty-1" style="width: 100px; cursor: pointer;">
            <img class="raty-1" title="bad" alt="1" src="{{ STATIC_URL }}star-off.png" id="raty-1-1">&nbsp;<img class="raty-1" title="poor" alt="2" src="{{ STATIC_URL }}star-off.png" id="raty-1-2">&nbsp;<img class="raty-1" title="regular" alt="3" src="{{ STATIC_URL }}star-off.png" id="raty-1-3">&nbsp;<img class="raty-1" title="good" alt="4" src="{{ STATIC_URL }}star-off.png" id="raty-1-4">&nbsp;<img class="raty-1" title="gorgeous" alt="5" src="{{ STATIC_URL }}star-off.png" id="raty-1-5"><input type="hidden" id="raty-1-score" name="score"></div>
            <div class="whatimdoing">
                    <a class="loveit">喜欢&nbsp;<span>0</span></a>			 
            </div>
            <div class="list_display_navi_line_longer_more_PS">
                <!---->
            </div>
        </div>
        <div style="padding-bottom:10px;" class="messager_reply">
            <!--***********************************reply_begin************************************************************************************************************************************-->
        </div><!--message reply-->        
    </div><!--mainbelowleft-->
  </div>
{% endblock %}
