{% extends "base.html" %}

{% block content %}
<div id="main_below_s">
	
    <div id="main_left">
		<div class="productTopRight">
			<div class="sale_details_wrap">
				<div class="sale_details_topPic">
                            <img width="680" class="Cont_PS_pic" alt="others_pic" src="{{ STATIC_URL }}C9Zs6tVhLFuTnGTbKPP6Vk!cover.jpeg">
				</div>

			</div>
			</div>
      <!--***--><div class="line"><!----></div><!--***********************************************************************-->	
            <div style="height:16px;color:black;" class="specification_mini">
                创意故事:           
            </div>
            <div style="float:left;color:#666666;" class="specification_mini_div">
                <p>我想应该静下来睡一个觉</p>

<p>我想应该静下来走一段路</p>

<p>我想应该静下来看一本书</p>

<p>我只想静下来反省自己</p>

<p>当一切都开始静下来的时候</p>

<p>静的可以让我听到平和安静的心跳</p>

<p>于是，静送夏日离去，我厌恶用清新来消暑了</p>

<p>无关风格，只是无法寻求突破</p>

<p>没有改变的手作让我痛苦不已</p>

<p>需要出去透透气了，转换下心境。</p>
            </div>	
        <div class="" id="big_frame3">
            <ul class="list" id="big_list3">
                
                <li>
                
                <img src="{{ STATIC_URL }}C9Zs6tVhLFuTnGTbKPP6Vk!creation.jpeg" class="big_list_show">
                                   
                </li>    
                
                <li>
                
                <img src="{{ STATIC_URL }}VcQwwyfioYhKnSAbhscjvS!creation.jpeg">
                                   
                </li>    
                
                <li>
                
                <img src="{{ STATIC_URL }}vLzudFEsHedqsyCGroC5MN!creation.jpeg">
                                   
                </li>    
                
            </ul>
        </div>									

        <ul id="required_mini_channel">
            
        </ul>

        <div id="PS_messager">
            
            <div id="PS_whom">我的评分:</div> 
            <div class="browse_found_article_star_give" id="raty-1" style="width: 100px; cursor: pointer;">
            <img class="raty-1" title="bad" alt="1" src="{{ STATIC_URL }}star-off.png" id="raty-1-1">&nbsp;<img class="raty-1" title="poor" alt="2" src="{{ STATIC_URL }}star-off.png" id="raty-1-2">&nbsp;<img class="raty-1" title="regular" alt="3" src="{{ STATIC_URL }}star-off.png" id="raty-1-3">&nbsp;<img class="raty-1" title="good" alt="4" src="{{ STATIC_URL }}star-off.png" id="raty-1-4">&nbsp;<img class="raty-1" title="gorgeous" alt="5" src="{{ STATIC_URL }}star-off.png" id="raty-1-5"><input type="hidden" id="raty-1-score" name="score"></div>
            

            <div class="whatimdoing">
                <a class="replyit">回应&nbsp;<span id="comments_number">0</span></a>

                
                    <a class="loveit" data-url="/actions/favour/creation/6017/-/creation/">喜欢&nbsp;<span>0</span></a>			 
                    <a class="reprintit" data-url="/actions/share/creation/6017/-/creation/">转载&nbsp;<span>0</span></a>							
                
                
            </div>
            <div class="list_display_navi_line_longer_more_PS">
                <!---->
            </div>
        </div>

        <!--message reply-->        

        
        
        




                

        

        <!--messager_below-->			   

    </div><!--mainbelowleft-->
    
    
    <!--sale_about-->




    <div id="return_top" style="top: 1767px; display: block;">
  <a onfocus="blur()" href="#" target="_blank"><img width="42" height="42" alt="" src="http://sogoke-static.b0.upaiyun.com/static/v1/img/return_top.png"></a>
  <script type="text/javascript">
    (function(){
     var n=0;
     var obj=document.getElementById("return_top");
     if(!obj){return false;}
     var x=0;
     var fe=$("#return_top");
     window.onscroll=function(){
     obj.style.top=(document.body.scrollTop||document.documentElement.scrollTop)+n+'px';
     x=(document.body.scrollTop||document.documentElement.scrollTop)+n;
     if(x==0){fe.fadeOut().hide()}else{fe.fadeIn().show()};
     };
     window.onresize=function(){obj.style.top=(document.body.scrollTop||document.documentElement.scrollTop)+n+'px'};
     })();               
</script>
</div><!--return_top-->  				
        </div>
{% endblock %}
