{% extends "base.html" %}

{% block content %}
<div id="main_below_s">
    <div id="main_left">
		<div class="productTopRight">
			<div class="sale_details_wrap">
				<div class="sale_details_topPic">
                            <img width="680" class="Cont_PS_pic" alt="others_pic" src="{{ STATIC_URL }}ixXvY4eYDJg9RgjYNdzvsV!cover.jpeg">
				</div>

			</div>
			</div>
      <!--***--><div class="line"><!----></div><!--***********************************************************************-->	
            <div style="height:16px;color:black;" class="specification_mini">
                创意故事:           
            </div>
            <div style="float:left;color:#666666;" class="specification_mini_div">
                <p>鹿宝工坊 原创设计 手工订制<br>总有一款适合您！小清新文艺范！</p>
            </div>	
        <div class="" id="big_frame3">
            <ul class="list" id="big_list3">
                <li>
                <img src="{{ STATIC_URL }}ixXvY4eYDJg9RgjYNdzvsV!creation.jpeg" class="big_list_show">
                </li>    
                <li>
                <img src="{{ STATIC_URL }}9bjdUU4GizMGC2BFUEvhuH!creation.jpeg">
                </li>    
                <li>
                <img src="{{ STATIC_URL }}RrZkvFbofReQhW6Uh8DRRP!creation.jpeg">
                </li>    
            </ul>
        </div>									
        <div id="PS_messager">
            <div id="PS_whom">我的评分:</div> 
            <div class="browse_found_article_star_give" id="raty-1" style="width: 100px; cursor: pointer;">
            <img class="raty-1" title="bad" alt="1" src="http://sogoke-static.b0.upaiyun.com/static/v1/img/raty/star-off.png" id="raty-1-1">&nbsp;<img class="raty-1" title="poor" alt="2" src="http://sogoke-static.b0.upaiyun.com/static/v1/img/raty/star-off.png" id="raty-1-2">&nbsp;<img class="raty-1" title="regular" alt="3" src="http://sogoke-static.b0.upaiyun.com/static/v1/img/raty/star-off.png" id="raty-1-3">&nbsp;<img class="raty-1" title="good" alt="4" src="http://sogoke-static.b0.upaiyun.com/static/v1/img/raty/star-off.png" id="raty-1-4">&nbsp;<img class="raty-1" title="gorgeous" alt="5" src="http://sogoke-static.b0.upaiyun.com/static/v1/img/raty/star-off.png" id="raty-1-5"><input type="hidden" id="raty-1-score" name="score"></div>
            <div class="whatimdoing">
                <a class="replyit">回应&nbsp;<span id="comments_number">0</span></a>
                    <a class="loveit" data-url="/actions/favour/creation/6034/-/creation/">喜欢&nbsp;<span>0</span></a>			 
            </div>
            <div class="list_display_navi_line_longer_more_PS">
                <!---->
            </div>
        </div>
    </div><!--mainbelowleft-->
    <!--return_top-->  				
        </div>
{% endblock %}
