<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wb="http://open.weibo.com/wb"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <link href="{{ STATIC_URL }}/css/reset.css" rel="stylesheet" type="text/css" media="screen">
    <link href="{{ STATIC_URL }}/css/style_all.css" rel="stylesheet" type="text/css" media="screen">
<style type="text/css">
#header_taller{padding-top: 15px;height: 140px;}
#fnavi_taller{margin-bottom: 10px;}
#fntext1_taller{padding-top: 10px;}
.cus_in3,.cus_in2{font-size: 14px;}
.cus_in2{margin-left: 8px;}
</style>
    
<link href="{{ STATIC_URL }}/css/tags_new.css" rel="stylesheet" type="text/css" media="screen">
<style>
 .photo_container {
    width: 100px;
    height: 80px;
    margin: 0;
    padding: 0;
    float:left;
  }

  .remove_photo {
    position: relative;
    width: 21px;
    height: 19px;
    background: #ffffff;
    top: -68px;
    left: 66px;
    z-index: 200;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: none;
    display: none;
  }

  .plupload {
    display:block;
    position: absolute;
    width: 67px;
    height: 28px;
    top: 1px;
    left: 1px;
  }
 .mainbelowright_title_to{
    border-bottom: 1px dashed #E2E2E2;
    padding-bottom: 10px;
}
.n_info_ui{
    font-size: 12px;
    position: relative;
    top: 10px;
}
.check_title_top{font-size:15px;}
.topside_details_to p,.textarea_tags_ui{font-size:12px;}
</style>


    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="/static/css/ie.css" media="screen" />
    <![endif]-->        
         
    <!-- This is a stub for ie6/7/8, should be remove as soon as possible -->

  <!-- page specific javascript -->
  <!-- templates -->
  
  </head>

  <body>
<noscript><iframe><src="1*.htm"></iframe></noscript>
  
<script type="text/javascript"> 
   var ins = ins || {};
   ins.o = new Object(); 
   function T(_h,_w){
        var _mt; 
        _h = _h-180;
	_w = _w-200;
        _mt = -(_h / 2);
	_ml = -(_w / 2);
        return [_h, _mt, _ml];
    }
    function autoSize(img){
        var image = new Image(); 
		image.onload=image.onreadystatechange=image.onerror=function(){
                var _w = this.width, _h = this.height, re;
                re = T(_h,_w); 
				if(_h > 180 && _w > 200){
                    $(img).css({"margin-top":re[1],"margin-left":re[2]}); 
				}
				afterRender(".topside_img");	
        };
        image.src = img.src;
    }  
	function afterRender(id){ 
        var counter = 0;
        $(id+" .tag_photo").each(function(i, item){
            setTimeout(function(){
                $(item).css({visibility:"visible"}).animate({opacity:1}, 500);}, counter * 200);
			counter++;
		});
	}
</script>
<div id="header_taller">
	   <a class="logo" href="/"></a>
       <div id="menu">
                <div class="oe_wrapper">
                    <ul class="oe_menu" id="oe_menu">
                        <li class="menu_li">
                            <a class="link" href="/">饰品</a>
                        </li><!--menu_li--> 
                        <li class="menu_li">
                            <a class="link" href="/pibao/">皮包</a>
                        </li><!--menu_li--> 
                	</ul><!--navi_menu_ul-->
        		</div><!--oe_wrapper-->
        </div><!--menu-->
</div>
<div id="main_all">
	<div id="main_below_h">
		<div class="tagged_about_left">
			<div class="topside_img">
				<div class="tag_photos">
					<img style="margin-top: -33.5px; margin-left: -65px; visibility: visible; opacity: 1;" class="tag_photo" src="{{ STATIC_URL }}/wVcBBktYYVJXnfihBzBXtGtags.jpeg" alt="defaut tag photo" onload="autoSize(this);">
        
				</div>
			</div>    
        
			<div class="tags_box_ui">
				<div class="mainbelowright_title_to">
					<div class="topside_name"><a class="check_title_top">饰品</a></div>
					<div class="n_info_ui">
						<span class="tagged_notice_ui"><h4>人气</h4><a target="_blank" href="#" class="tagged_notice_a">4346</a></span>
						<span class="tagged_notice_ui"><h4>热度</h4><a target="_blank" href="#" class="tagged_notice_a">888</a></span>
					</div>
				</div>
				<div class="topside_details_to">
					<textarea class="specification_sign_intro textarea_tags_ui" placeholder="增加或完善标签描述..." style="overflow: hidden;display:none;"></textarea>
				</div>
				<div class="tag_e_f">
					<div class="">
						<form class="tag_edit_form" action="/tag/饰品/edit/" method="post"><div style="display:none"><input name="csrfmiddlewaretoken" value="a3cb771c333f2e1986d7f3a8bcbca09d" type="hidden"></div></form>
						<a target="_blank" href="#" data-url="#" class="cancel_tags_ui" id="intro_cancel">取消</a>
						<input class="save submit_tags_ui" value="保存" data-name="饰品" type="button">
   		
					</div><!---->
				</div>
			</div>
</div>
  <div id="main_left">
    <div id="list_display_to">
      <!-- Tabs -->
      <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
          <li class="ui-state-default ui-corner-topui-tabs-selected ui-state-active">
          <div class="list_navi" style="border-bottom: 3px #FF9997 solid;">
            <!--优先子项为跳转前的页面内标签-->
            <a class="list_title" href="/tag/饰品/?subjects=all" target="_blank">全部<!--&nbsp;<span style="color: #B6B6B7">1</span>--></a><!--可修改-->
          </div>
          </li>
        </ul>	
        <div id="all" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        <ul class="resource_list">
<li>
		<div class="my_blog_picall">
			<div class="my_blog_pic">
			<a href="/creation/6032/" target="_blank">
			<img src="{{ STATIC_URL }}/cjX4y9NYhS9zg6Py7Rq94bsecondary.jpeg" alt="blog_pic" width="220"></a>
			</div>
		</div>
    	<a target="_blank" class="res_img" href="/creation/6032/">
		<h4 class="PL_one">贝壳，松果，碎片</h4>
	</a>
	<p class="tag_content_p">
	</p>
<div class="tags_blog_border_f_ui"></div>
</li>
<li>
		<div class="my_blog_picall">
			<div class="my_blog_pic">
			<a href="/creation/6027/" target="_blank">
			<img src="{{ STATIC_URL }}/gnwE8jhgC2TyDzgwwJ3JfCsecondary.jpeg" alt="blog_pic" width="220"></a>
			</div>
		</div>
    	<a target="_blank" class="res_img" href="/creation/6027/">
		<h4 class="PL_one">陶瓷珠子纯手工编织手链</h4>
	</a>
	<p class="tag_content_p"></p>
	<a style="display: none;" class="my_blog_more" target="_blank" href="/creation/6027/">查看作品</a>
<div class="tags_blog_border_f_ui"></div>
</li>
<li>
		<div class="my_blog_picall">
		
			<div class="my_blog_pic">
         
			<a href="/creation/6017/" target="_blank">
		
			<img src="{{ STATIC_URL }}/C9Zs6tVhLFuTnGTbKPP6Vksecondary.jpeg" alt="blog_pic" width="220"></a>
		
			</div>
		</div>
    	<a target="_blank" class="res_img" href="/creation/6017/">
		<h4 class="PL_one">天然原石水晶花项链</h4>
	</a>
	<p class="tag_content_p">
		
	</p>
	<div class="tags_blog_border_f_ui"></div>
</li>
<li>
		<div class="my_blog_picall">
			<div class="my_blog_pic">
			<a href="/blog/1820/" target="_blank">
			<img src="{{ STATIC_URL }}/pLt2ofptAw5MzRCbnxs7s6secondary.jpeg" alt="blog_pic" width="220"></a>
			</div>
		</div>
    	<a target="_blank" class="res_img" href="/blog/1820/">
		<h4 class="PL_one">原创嵌花树脂教程（by @mochizukikaoru ）</h4>
	</a>
	<p class="tag_content_p">
		这个坑真的属于不小心掉进来的。 <br>原本只是想给热缩涂层保护膜，手边刚好有模子就想着是否能尝试一下做成立体的东西，结果意外一次就顺利成功，从此就打开了新世界的 <br>大门=L=。 <br>【需要的材料】 <br>①树脂（和硬化液的比率是2:1） <br>②硬化液 <br>③量杯 <br>④搅拌棍 <br>（金属塑料皆可，最好是准备一根细长的搅拌，一个扁平的挂量杯剩余的树脂） <br>⑤模子 <br>（有专用的模子例如： http://item.rakuten.co.jp/grass-road/589202/#589202 ） <br>相信也有不少同好知道现在各种形状
	</p>
<div class="tags_blog_border_f_ui"></div>
</li>
          </ul>
		  </div><!--tabs-1-->
                </div><!--tabs-->
              </div><!--list_display-->
            </div><!--mainbelowleft-->
</div></body></html>
