{% extends "base.html" %}

{% block content %}
<div id="main_all">
	<div id="main_below_h">
		<div class="tagged_about_left">
			<div class="topside_img">
				<div class="tag_photos">
					<img style="margin-top: -33.5px; margin-left: -65px; visibility: visible; opacity: 1;" class="tag_photo" src="{{ STATIC_URL }}/wVcBBktYYVJXnfihBzBXtGtags.jpeg" alt="defaut tag photo" onload="autoSize(this);">
        
				</div>
			</div>    
        
			<div class="tags_box_ui">
				<div class="mainbelowright_title_to">
					<div class="topside_name"><a class="check_title_top">饰品</a></div>
					<div class="n_info_ui">
						<span class="tagged_notice_ui"><h4>人气</h4><a target="_blank" href="#" class="tagged_notice_a">4346</a></span>
						<span class="tagged_notice_ui"><h4>热度</h4><a target="_blank" href="#" class="tagged_notice_a">888</a></span>
					</div>
				</div>
				<div class="topside_details_to">
					<textarea class="specification_sign_intro textarea_tags_ui" placeholder="增加或完善标签描述..." style="overflow: hidden;display:none;"></textarea>
				</div>
				<div class="tag_e_f">
					<div class="">
						<form class="tag_edit_form" action="/tag/饰品/edit/" method="post"><div style="display:none"><input name="csrfmiddlewaretoken" value="a3cb771c333f2e1986d7f3a8bcbca09d" type="hidden"></div></form>
						<a target="_blank" href="#" data-url="#" class="cancel_tags_ui" id="intro_cancel">取消</a>
						<input class="save submit_tags_ui" value="保存" data-name="饰品" type="button">
   		
					</div><!---->
				</div>
			</div>
</div>
  <div id="main_left">
    <div id="list_display_to">
      <!-- Tabs -->
      <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
          <li class="ui-state-default ui-corner-topui-tabs-selected ui-state-active">
          <div class="list_navi" style="border-bottom: 3px #FF9997 solid;">
            <!--优先子项为跳转前的页面内标签-->
            <a class="list_title" href="/tag/饰品/?subjects=all" target="_blank">全部<!--&nbsp;<span style="color: #B6B6B7">1</span>--></a><!--可修改-->
          </div>
          </li>
        </ul>	
        <div id="all" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        <ul class="resource_list">
<li>
		<div class="my_blog_picall">
			<div class="my_blog_pic">
			<a href="/creation/1/" target="_blank">
			<img src="{{ STATIC_URL }}/cjX4y9NYhS9zg6Py7Rq94bsecondary.jpeg" alt="blog_pic" width="220"></a>
			</div>
		</div>
    	<a target="_blank" class="res_img" href="/creation/1/">
		<h4 class="PL_one">贝壳，松果，碎片</h4>
	</a>
	<p class="tag_content_p">
	</p>
<div class="tags_blog_border_f_ui"></div>
</li>
<li>
		<div class="my_blog_picall">
			<div class="my_blog_pic">
			<a href="/creation/2/" target="_blank">
			<img src="{{ STATIC_URL }}/gnwE8jhgC2TyDzgwwJ3JfCsecondary.jpeg" alt="blog_pic" width="220"></a>
			</div>
		</div>
    	<a target="_blank" class="res_img" href="/creation/2/">
		<h4 class="PL_one">陶瓷珠子纯手工编织手链</h4>
	</a>
	<p class="tag_content_p"></p>
	<a style="display: none;" class="my_blog_more" target="_blank" href="/creation/2/">查看作品</a>
<div class="tags_blog_border_f_ui"></div>
</li>
<li>
		<div class="my_blog_picall">
		
			<div class="my_blog_pic">
         
			<a href="/creation/3/" target="_blank">
		
			<img src="{{ STATIC_URL }}/C9Zs6tVhLFuTnGTbKPP6Vksecondary.jpeg" alt="blog_pic" width="220"></a>
		
			</div>
		</div>
    	<a target="_blank" class="res_img" href="/creation/3/">
		<h4 class="PL_one">天然原石水晶花项链</h4>
	</a>
	<p class="tag_content_p">
		
	</p>
	<div class="tags_blog_border_f_ui"></div>
</li>
<li>
		<div class="my_blog_picall">
			<div class="my_blog_pic">
			<a href="/creation/4/" target="_blank">
			<img src="{{ STATIC_URL }}/pLt2ofptAw5MzRCbnxs7s6secondary.jpeg" alt="blog_pic" width="220"></a>
			</div>
		</div>
		<h4 class="PL_one">原创嵌花树脂教程</h4>
	</a>
	<p class="tag_content_p">
		这个坑真的属于不小心掉进来的。 <br>原本只是想给热缩涂层保护膜，手边刚好有模子就想着是否能尝试一下做成立体的东西，结果意外一次就顺利成功，从此就打开了新世界的 <br>大门=L=。 <br>【需要的材料】 <br>①树脂（和硬化液的比率是2:1） <br>②硬化液 <br>③量杯 <br>④搅拌棍 <br>（金属塑料皆可，最好是准备一根细长的搅拌，一个扁平的挂量杯剩余的树脂） <br>⑤模子 <br>（有专用的模子例如： http://item.rakuten.co.jp/grass-road/589202/#589202 ） <br>相信也有不少同好知道现在各种形状
	</p>
<div class="tags_blog_border_f_ui"></div>
</li>
<li>
		<div class="my_blog_picall">
			<div class="my_blog_pic">
			<a target="_blank" href="/creation/5/">
			<img width="220" alt="blog_pic" src="{{ STATIC_URL }}ixXvY4eYDJg9RgjYNdzvsV!secondary.jpeg"></a>
			</div>
		</div>
    	<a href="/creation/5/" class="res_img" target="_blank">
		<h4 class="PL_one">牛皮耳机防尘塞-八哥犬 情侣礼物 小清新 鹿宝工坊原创设计</h4>
	</a>
	<p class="tag_content_p">
	</p>
	<a href="/creation/5/" target="_blank" class="my_blog_more" style="display: none;">查看作品</a>
	</div>
<div class="tags_blog_border_f_ui"></div>
</li>
          </ul>
		  </div><!--tabs-1-->
                </div><!--tabs-->
              </div><!--list_display-->
            </div><!--mainbelowleft-->
</div>
{% endblock %}
